{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Accueil
{% endblock %}
{% block body %}
	<div class="toktik-banner">
			<div class="toktik-logo">
				<svg class="brain-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64" fill="currentColor">
					<path d="M32 2C20 2 12 8 12 16c0 3 1 6 3 8-3 2-5 6-5 10s2 8 5 10c-2 2-3 5-3 8 0 8 8 14 20 14s20-6 20-14c0-3-1-6-3-8 3-2 5-6 5-10s-2-8-5-10c2-2 3-5 3-8 0-8-8-14-20-14z"/>
				</svg>
			</div>
			<h1 class="toktik-title">TokTik
				<span class="subtitle">– dites adieu à votre cerveau</span>
			</h1>
		</div>
</div>
{% endblock %}
